#root{
  --main-font : 'Poppins', sans-serif;
  --logo-font : 'Rubik 80s Fade', cursive;
}

*{
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  font-family: var(--main-font);
}

@import './navbar.css';